logs
*.log
**/print169*.css
**/mill/data/
npm-debug.log*
node_modules/
notes.txt
keys.js
notes/
scratchFiles/
temp/
archive/
**/.DS_Store
**/*.mp4
**/*.mp3
**/*.wav
**/*.mov
**/*.webm
**/*.tif
**/*.tiff
**/*.indd
**/*.psd
**/*.pdf
**/*.png
!*png
**/*.jpg
**/*.zip
**/*.idlk
**/*.swp
data/largefiles
